# General
*~
*.log
tmp
dump

# Eclipse IDEA
.history
.idea
/*.iml
/out
.idea_modules
.classpath
.project
.cache
/.settings
/.worksheet
bin

#SBT
dist
project/project
project/boot
project/target
project/plugins/target
target
.target

#Play
logs
RUNNING_PID