body {
	background-color: #2C2C0F;
}

hr {
	border-top-color: black;
}

.container {
	background-color: 	#E6E682;
	padding-bottom: 20px;
}

div {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
	padding: 5px;	
}

td.fill {
	width: 100%;
}


div#challengeDiv {
	border: medium black solid;
	padding-top: 30px;
	padding-bottom: 30px;
	color: red;
}

div#messageDiv {
	display: none;
	border: medium black solid;
	padding-top: 30px;
	padding-bottom: 30px;
	display: none;
	color: green;
}

div#footerDiv {
	margin-top: 30px;
}

.remove {
	display: none;
}

