body {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div {
	text-align: center;
}

div#challengeDiv {
	border: medium black solid;
	padding-top: 30px;
	padding-bottom: 30px;
	display: none;
	color: red;
}

div#messageDiv {
	display: none;
	border: medium black solid;
	padding-top: 30px;
	padding-bottom: 30px;
	display: none;
	color: green;
}

div#footerDiv {
	margin-top: 30px;

