body {
	background-color: #2C2C0F;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
	border-top-color: black;
}
	
.container {
	background-color: #E6E682;
	padding-bottom: 20px;
}

.info-margins {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.info-temp {
	background-color: #CFCF75;
	padding: 10px 10px 5px 10px;
	margin-bottom: 5px;
}

#returnDiv {
	margin-top: 30px;
}

table, th, td {
	border: 1px solid black;
	text-align: center;
}

table {
	margin-right: auto;
	margin-left: auto;
	background-color: white;
}

th, td {
	width: 30px;
	height: 30px;
}

@media (min-height: 450px) {
	hr {
		margin-top: 20px;
		margin-bottom: 20px;
	}	
	
}