<section>
	<div id="scoreDiv" class="text-center">
		<h4>Current score: </h4>
		<div id="scoreResultDiv">	
			<table id=scoreTable class="center">
				<tr>
					<th>Player Name</th>
					<th>Score</th>
				</tr>
				<tr>
					<td id="playerOneName">{{vm.playerNames.player1}}</td>
					<td id="playerOneScore">{{vm.playerScores.player1}}</td>
				</tr>
				<tr>
					<td id="playerTwoName">{{vm.playerNames.player2}}</td>
					<td id="playerTwoScore">{{vm.playerScores.player2}}</td>
				</tr>
			</table>
		</div>
	</div>

	<!-- div class="vertical-space-10"></div-->
	
</section>
