@(size:Int, userName: String)
<!DOCTYPE html>
<html>
  <head>
    <title>jomamoma</title>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/game.css")'>
    <script src='@routes.Assets.at("javascripts/jquery.js")'></script>
    <script src='@routes.Assets.at("javascripts/game.js")'></script>
  </head>
  <body>
    <h1>X and O (five in a row)</h1>
   	  <div id="gameInfoDiv">
   	    User: @userName
		<span id="infoSpan"></span>   	    
   	  </div>

      <table id="gameTable" class="xtable">
      	<thead>
      	  <tr>
      	  	<th></th>
      	  	@for(colHeader <- ('A' to 'Z').take(size)){
      	  	  <th>@colHeader</th>
      	  	}
      	  </tr>
      	</thead>
      	<tbody>
      	  @for(row <- 1 to size){
      	  	<tr>
      	  	  <td>@row</td>
      	  	  @for(column <- 1 to size){
      	  	  	<td id=row-col-@row-@column></td>
      	  	  } 
      	  	</tr>
      	  }
      	</tbody>
      	
      </table>

  </body>    
</html>
