@(user: String)

<!DOCTYPE html>

<html>
    <head>
        <title>jomamoma</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/home.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/home.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="headerDiv">
        	<h1>Welcome to JOMAMOMA games</h1>
        </div>
        <div class="introDiv">
        	<h3>Hello @user</h3>
        	<span class="joinMessageSpan"></span>
        </div>
        <div class="opponentDiv">
        	<span class="startMessageSpan">
        		Please select opponent below and click Start button.
        	</span>
        	<span>
        	 	<form name="opponentForm" action="startGame" method="post">
	        		Choose opponent: 
	        		<select class="opponentSelect" name="opponent" required="required"></select>
	        		<input type="submit" id="Start" name="Start" value="Start" ></input>
	        		<input type="button" name="Refresh" value="Refresh"></input>
        		</form>
        	</span>
        </div>
        <div class="footerDiv">
        	<form method="get" action="logout">
        		<input type="submit" value="Logout"></input>
        	</form>
        </div>
    </body>
</html>



