@()
<!DOCTYPE html>

<html>
    <head>
        <title>jomamoma</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
    </head>
    <body>
        <div class="headerDiv">
        	<h1>Welcome to JOMAMOMA games</h1>
        </div>
        
        <div class="infoDiv">
        	<p>Here you can play online classic games like X and O by challenging someone else.</p>
        	<p>You need to log in to continue.</p>
        	<p/>
        	<a href="login">Login</a>
        	
        </div>
    	
    
    </body>
</html>
