@()
<!DOCTYPE html>

<html>
    <head>
        <title>jomamoma</title>
   	 	<link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.css")'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
    </head>
    <body>
    	<div class="container">
	        <div class="text-center">
	        	<h1>Thanks for visiting JOMAMOMA games</h1>
	        	<p>Hope to see you again soon</p>
	        	<p>Go back to <a href="/">JOMAMOMA games</a></p>
	        </div>
        
		</div>    
    </body>
</html>
