@(myForm: Form[model.User])

<!--@() -->
<!DOCTYPE html>
<html>
  <head>
    <title>Jomamoma - login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.css")'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/login.css")'>
    <script src='@routes.Assets.at("javascripts/jquery.js")'></script>
    <script src='@routes.Assets.at("javascripts/bootstrap.js")'></script>
  </head>
  <body>
  	<div class="container">
		@helper.form(action = routes.LoginController.doLogin) {
			<h3>Please login:</h1>
			
			@if(myForm.hasGlobalErrors) {
			  <ul>
			  @for(error <- myForm.globalErrors) {
			    <li>@error.message</li>
			  }
			  </ul>
			}	    	
			
			@helper.inputText(myForm("name"), 'id -> "name", 'size -> 30, 'required -> None, 'autofocus -> None, '_showConstraints -> false, '_label -> "User name:")
	    	@helper.inputPassword(myForm("password"), 'id -> "password", 'size -> 30, '_label -> "Password:")
	    	<input type="submit" value="Logon">
	    	<a class="btn" href="..">Cancel</a>
		}
	</div>
    <!--  div class="container">
    
      <form class="form-signin" name="loginForm" action="doLogin" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" name="user" placeholder="User" required autofocus>
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      
    </div--> 
  </body>    
</html>
