@(size:Int, userName: String)
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jomamoma - Memory</title>
    <link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.css")'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/memory.css")'>
	
</head>
<body>
	<div class="container">
		<header class="text-center">
     			<h1>JOMAMOMA - Memory</h1>
				<div>Welcome to memory <span id="userSpan">@userName</span></p>
		</header>
		<hr/>
		<section>
			<div id="scoreDiv" class="text-center">
				<h4>Current score: </h4>
				<div id="scoreResultDiv">	
					<table id=scoreTable class="center">
						<tr>
							<th>Player Name</th>
							<th>Score</th>
						</tr>
						<tr>
							<td id="playerOneName">Loading...</td>
							<td id="playerOneScore"></td>
						</tr>
						<tr>
							<td id="playerTwoName">Loading...</td>
							<td id="playerTwoScore"></td>
						</tr>
					</table>
				</div>
			</div>
		
			<!-- div class="vertical-space-10"></div-->
			
		</section>

		<hr/>

		<main>
 			<div id="infoDiv" class="text-center info"></div>
		
	        <div id="returnDiv" class="remove text-center">
	      		<p>Return to <a href="@routes.Application.home">home page</a>.</p>
	      	</div>
        
            <div id="main" class="text-center">
                <table id="gameTable" class="center">
                </table>
            </div>
        </main>

	</div>
	
	<!-- scripts -->
    <script src='@routes.Assets.at("lib/jquery/jquery-2.1.1.js")'></script>
    <script src='@routes.Assets.at("lib/bootstrap/js/bootstrap.js")'></script>
	<script>
	    dojoConfig= {
	        async: true,
	        baseUrl: "/assets/javascripts/",
	        packages: [
		   				{ name: "ui", location: "memory/ui" },
		   				{ name: "controller", location: "memory/controller" },
		   				{ name: "data", location: "memory/data" }
	   	    	]
	    };
	</script>
    <script src='@routes.Assets.at("lib/dojo/dojo.js")' data-dojo-config="async: true"></script>
    <script src='@routes.Assets.at("javascripts/memory/MemoryConnector.js")'></script>
	<!-- end scripts -->
	
</body>
</html>