@(size:Int, userName: String)
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JOMAMOMA - Memory</title>
    <link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.css")'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/memory.css")'>

    <!-- Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-58367791-1', 'auto');
	  ga('send', 'pageview');
	
	</script>	
				
</head>
<body>
	<div class="container">
		<header class="text-center">
     		<h1>JOMAMOMA - Memory</h1>
			<div>Welcome <span id="userSpan"><strong>@userName</strong></span></p>
		</header>
		
		<hr/>
		
		<section>
		    <div class="text-center">
		     	<p>Not sure how it works? 
		     	<a id="more-info-action" href="javascript:;" >Tell me the rules.</a></p>
				<div id="info-div" class="info-temp hide">
			   		<p>Your goal is to collect pairs of the same picture. 
			   		When it is your turn select a square, then select a second square trying to 
			   		find the the one with the same picture as the first. </p>
			   		<p>In order to be successful you need to memorize any picture already opened
			   		so you remember the position if the same picture comes up again.</p>
		   			<p><a id="less-info-action" href="javascript:;" >Hide.</a></p>
		 		</div>
		   	</div>
		</section>
		
		<section>
			<div id="scoreDiv" class="text-center">
				<h4>Current score: </h4>
				<div id="scoreResultDiv">	
					<table id=scoreTable class="center">
						<tr>
							<th>Player Name</th>
							<th>Score</th>
						</tr>
						<tr>
							<td id="playerOneName">Loading...</td>
							<td id="playerOneScore"></td>
						</tr>
						<tr>
							<td id="playerTwoName">Loading...</td>
							<td id="playerTwoScore"></td>
						</tr>
					</table>
				</div>
			</div>
		
			<!-- div class="vertical-space-10"></div-->
			
		</section>

		<hr/>

		<main>
 			<div id="infoDiv" class="text-center info"></div>
		
	        <div id="returnDiv" class="remove text-center">
	      		<p>Return to <a href="@routes.Application.home">home page</a>.</p>
	      	</div>
        
            <div id="main" class="text-center">
                <table id="gameTable" class="center">
                </table>
            </div>
        </main>

	</div>
	
	<!-- scripts -->
    <script src='@routes.Assets.at("lib/jquery/jquery-2.1.1.js")'></script>
    <script src='@routes.Assets.at("lib/bootstrap/js/bootstrap.js")'></script>
	<script>
	    dojoConfig= {
	        async: true,
	        baseUrl: "/assets/javascripts/",
	        packages: [
		   				{ name: "ui", location: "memory/ui" },
		   				{ name: "controller", location: "memory/controller" },
		   				{ name: "data", location: "memory/data" }
	   	    	]
	    };
	</script>
    <script src='@routes.Assets.at("lib/dojo/dojo.js")' data-dojo-config="async: true"></script>
    <script src='@routes.Assets.at("javascripts/memory/MemoryConnector.js")'></script>
	<!-- end scripts -->
	
</body>
</html>