@(size:Int, userName: String, oppName: String)
<!DOCTYPE html>
<html>
<head>
    <title>jomamoma - SinkShip</title>
   	<link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.css")'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/sinkship.css")'>
    <script src='@routes.Assets.at("lib/angular/angular-1-2-24.min.js")'></script>
    <script src='@routes.Assets.at("lib/jquery/jquery-2.1.1.js")'></script>
    <script src='@routes.Assets.at("javascripts/sinkship/app.js")'></script>
</head>
<body ng-app="SinkShipApp">
	<div class="container" ng-controller="SinkShipController">
		<header class="text-center">
     		<h1>JOMAMOMA - Sink ship</h1>
			<div>Welcome <span id="userSpan">@userName</span><span id="oppName" class="remove">@oppName</span></div>
		</header>
		<hr/>
		
		<section>
			<div class="text-center">
				Need to know the rules? Click <a href="javascript:">here</a>.
				<div>
					Add rules....
				</div>
			</div>
		</section>
		
		<section>
			<div id="scoreDiv" class="text-center">
				<h4>Current score: </h4>
				<div id="scoreResultDiv">	
					<table id=scoreTable class="center">
						<tr>
							<th>Player Name</th>
							<th>Ships sunk</th>
						</tr>
						<tr>
							<td id="playerOneName">@userName</td>
							<td id="playerOneScore">{{playerOneScore}}</td>
						</tr>
						<tr>
							<td id="playerTwoName">@oppName</td>
							<td id="playerTwoScore">{{playerTwoScore}}</td>
						</tr>
					</table>
				</div>
			</div>
		</section>

		<hr/>
		
		<main>
			<div>
	 			<div id="infoDiv" class="text-center info">
	 				<p>{{info}}</p>
	 			</div>
			
		        <div id="returnDiv" class="text-center" ng-class="{remove: !gameOver}">
		      		<p>Return to <a href="@routes.Application.home">home page</a>.</p>
		      	</div>
	      	</div>
        
            <div id="main" class="center-block text-center">
                <table id="oppTable" class="game-table center">
                	<thead>
                		<tr><th colSpan=@size class="text-center">@oppName ships</th></tr>
			      	<tbody>
			      	  	@for(row <- 1 to size){
			      	  	<tr>
			      	  	  	@for(column <- 1 to size){
			      	  	  		<td id="pos-@column-@row" class="gamePos" 
			      	  	  			ng-class='{
			      	  	  				idle: !oppTable["pos-@column-@row"].ship,
			      	  	  				ship: oppTable["pos-@column-@row"].ship,
			      	  	  				tail: oppTable["pos-@column-@row"].tail,
			      	  	  				body: oppTable["pos-@column-@row"].body,
			      	  	  				tail: oppTable["pos-@column-@row"].tail,
			      	  	  				head: oppTable["pos-@column-@row"].head,
			      	  	  				hor: oppTable["pos-@column-@row"].hor,
			      	  	  				ver: oppTable["pos-@column-@row"].ver,
			      	  	  				sunk: oppTable["pos-@column-@row"].sunk,
			      	  	  			}'
			      	  	  			ng-click='yourTurn && !oppTable["pos-@column-@row"].ship && cellClicked("pos-@column-@row")'>
			      	  	  			
			      	  	  		</td>
			      	  	  	} 
			      	  	</tr>
			      	  	}
			      	</tbody>    	
                </table>
                                
                <table id="myTable" class="game-table center">
                	<thead>
                		<tr><th colSpan=@size class="text-center">Your ships</th></tr>
			      	<tbody>
			      	  	@for(row <- 1 to size){
			      	  	<tr>
			      	  	  	@for(column <- 1 to size){
			      	  	  		<td id="myTable-pos-@column-@row" class="gamePos" 
			      	  	  			ng-class='{
			      	  	  				idle: !myTable["pos-@column-@row"].ship,
			      	  	  				ship: myTable["pos-@column-@row"].ship,
			      	  	  				tail: myTable["pos-@column-@row"].tail,
			      	  	  				body: myTable["pos-@column-@row"].body,
			      	  	  				tail: myTable["pos-@column-@row"].tail,
			      	  	  				head: myTable["pos-@column-@row"].head,
			      	  	  				hor: myTable["pos-@column-@row"].hor,
			      	  	  				ver: myTable["pos-@column-@row"].ver,
			      	  	  				sunk: myTable["pos-@column-@row"].sunk,
			      	  	  			}'>
			      	  	  			
			      	  	  		</td>
			      	  	  	} 
			      	  	</tr>
			      	  	}
			      	</tbody>    	
                </table>
            </div>
        </main>
	</div>
 </body>    
</html>
