@(size:Int, userName: String, sign: String)
<!DOCTYPE html>
<html>
  <head>
    <title>jomamoma - XandO</title>
   	<link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.css")'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/xando.css")'>
    <script src='@routes.Assets.at("lib/jquery/jquery-2.1.1.js")'></script>
    <script src='@routes.Assets.at("javascripts/xando.js")'></script>
  </head>
  <body>
     <div class="container">
      <h1 class="text-center">JOMAMOMA - X and O</h1>
      <hr>
      
   	  <div id="gameInfoDiv" class="text-center info-margins">
   	    Good luck <span id="userIdSpan">@userName</span>. You have <span id="symbolSpan">@sign</span>.
   	  </div>
   	  
   	  <div id="messageDiv" class="text-center info-margins">
   	  	Please wait...
   	  </div>

      <table id="gameTable" class="xtable">
      	<!-- thead>
      	  <tr>
      	  	<th></th>
      	  	@for(colHeader <- ('A' to 'Z').take(size)){
      	  	  <th>@colHeader</th>
      	  	}
      	  </tr>
      	</thead-->
      	<tbody>
      	  @for(row <- 1 to size){
      	  	<tr>
      	  	  <!-- td>@row</td-->
      	  	  @for(column <- 1 to size){
      	  	  	<td id=row-col-@row-@column class="gamePos"></td>
      	  	  } 
      	  	</tr>
      	  }
      	</tbody>    	
      </table>
      
      <div id="returnDiv" class="text-center hide">
      	Return to <a href="@routes.Application.home">home page</a>.
      </div>
	</div>
 </body>    
</html>
